<footer   class="navbar navbar-default navbar-fixed-bottom new_navbar">
    <div class="container-fluid">
        <div class="row  footer">
            <div class="col-xs-3">
                <a href="/mobile/about/7">
                    协会简介
                </a>
            </div>
            <div class="col-xs-3">
                <a href="/mobile/about/8">
                    职能和任务
                </a>
            </div>
            <div class="col-xs-3">
                <a href="/mobile/about/9">
                    协会章程
                </a>
            </div>

            <div class="col-xs-3">
                <a href="/mobile/about/4">
                    会员介绍
                </a>
            </div>

        </div>
    </div>
</footer>
