<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <% include header.html %>
  </head>
  <body>
    <div id="wrap">
      <nav role="navigation" class="navbar-default navbar-static-side">
        <div class="sidebar-collapse">
          <ul class="nav">
            <li class="nav-header">
              <div class="dropdown profile-element">
                <span>
                  <img alt="image" src="/images/admin/profile_small.jpg" class="img-circle">
                </span>
                <span style="color: #FFFFFF;" class="clear">
                  <span class="block m-t-xs">
                    <strong class="font-bold">
                      admin
                    </strong>
                  </span>
                  管理者
                </span>
              </div>
              <div class="logo-element">管理</div>
            </li>
            <li>
              <a href="/admin/general/1">
                <span class="glyphicon glyphicon-th-large"></span>
                <span class="nav-label">&nbsp;&nbsp;协会概况</span>
              </a>
            </li>
            <li>
              <a href="/admin/information/3">
                <span class="glyphicon glyphicon-th-large"></span>
                <span class="nav-label">&nbsp;&nbsp;教育咨询</span>
              </a>
            </li>
            <li>
              <a href="/admin/exchange/4">
                <span class="glyphicon glyphicon-th-large"></span>
                <span class="nav-label">&nbsp;&nbsp;学术交流</span>
              </a>
            </li>
            <li>
              <a href="/admin/achievement/5">
                <span class="glyphicon glyphicon-th-large"></span>
                <span class="nav-label">&nbsp;&nbsp;学术成果</span>
              </a>
            </li>
            <li>
              <a href="/admin/message/6">
                <span class="glyphicon glyphicon-th-large"></span>
                <span class="nav-label">&nbsp;&nbsp;资源信息库</span>
              </a>
            </li>
            <li>
              <a href="/user/newpassword">
                <span class="glyphicon glyphicon-th-large"></span>
                <span class="nav-label">&nbsp;&nbsp;修改密码</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
          <nav role="navigation" style="margin-bottom: 0" class="navbar navbar-static-top">
            <div class="navbar-header"><a href="#" class="navbar-minimalize minimalize-styl-2 btn btn-primary"><span class="glyphicon glyphicon-align-justify"></span></a></div>
            <ul class="nav navbar-top-links navbar-right">
              <li>
                <span class="m-r-sm text-muted welcome-message">
                  <a href="/admin/7">
                    <span class="glyphicon glyphicon-home"></span>
                    返回主页
                  </a>
                </span>
              </li>
              <li>
                <a href="/user/logout">
                  <span class="glyphicon glyphicon-share-alt">
                    退出
                  </span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
