<div class="footer_con">
    <div class="footer">
        <div style="clear:both"></div>
        <div class="footer2">
            <ul class="footer2_list">
                <li>链接：<a href="http://www.npc.gov.cn/" target="_blank">全国人大</a></li>
                <li>|</li>
                <li><a href="http://www.cppcc.gov.cn/" target="_blank">全国政协</a></li>
                <li>|</li>
                <li><a href="http://www.court.gov.cn/" target="_blank">最高人民法院</a></li>
                <li>|</li>
                <li><a href="http://www.spp.gov.cn/" target="_blank">最高人民检察院</a></li>
            </ul>
        </div><!-- footer  -->
        <div style="clear:both"></div>
        <div class="footer3">
            <div class="footer3_lf fl">
                <div class="fl">
                    <img style="width: 60px;height: 60px" src="/index/images/logo.png">
                </div>
                <div class="footer3_lf2 fl">
                  <span><a href="/">中华教育协会</a></span><span>|</span><span><a href="/">关于本网</a></span><span>|</span><span><a href="/home/2014-02/23/content_5046258.htm" target="_blank">网站声明</a></span><span>|</span><span><a href="/2016public/map.htm" target="_blank">网站地图</a></span><span>|</span><span><a href="/home/2014-02/23/content_5046259.htm" target="_blank">联系我们</a></span>
                  <p style="width:404px;">版权所有：中华教育协会　中文域名：中华教育协会 </p>
                </div>
            </div>                     
        </div>
    </div>
</div>

    
